<div class="col-xs-12 no-right-pad no-left-pad">
        <!--div ng-class="{'col-xs-12':isVerticalLayout(question.answers_layout), 'col-xs-3':isHorizontalLayout(question.answers_layout)}" class="no-right-pad no-left-pad"  ng-repeat="answer in question.answers"-->
		<div ng-repeat="answer in question.answers track by answer.id">
            <!-- mostro la risposta, e come larghezza metto il 100% se la disposizione è verticale, altrimenti il 25% se è orizzontale -->
			<div ng-class="{'col-xs-12':isVerticalLayout(question.answers_layout), 'col-xs-3':isHorizontalLayout(question.answers_layout)}" class="no-right-pad no-left-pad">
				<div class="col-xs-1 no-right-pad no-left-pad" style="width:20px;"><input type="checkbox" ng-model="answer.selected" ng-disabled="!editable"></div><div class="col-xs-11 no-right-pad no-left-pad">{{::answer.description}}</div>
			</div>
			<!-- sottodomande (100% di larghezza) -->
			<div ng-if="answer.selected && answer.questions.length > 0" class="col-xs-12 no-right-pad no-left-pad" style="min-height:0px;">
				<div class="col-xs-12 no-right-pad no-left-pad">
					<questions-instance-edit parent="answer" editable="editable" question-level="questionLevel+1" parent-selected="showAnswer && answer.selected" ng-if="answer.selected"></questions-instance-edit>
				</div>
			</div>
		</div>
</div>