<div class="col-xs-12 no-left-pad no-right-pad container" ng-show="questionnaireInstance">
    <div class="col-xs-12 no-right-pad no-left-pad container">
        <form class="col-xs-12 no-right-pad no-left-pad container" name="frmQuestionnaire" novalidate>
            <div class="col-xs-12 no-right-pad no-left-pad bottom-borded questionnaire-instance-title-container">    <!-- qui definisco un'altezza e il fatto che sia in primo piano -->
                <div class="col-xs-12 no-right-pad no-left-pad">
                    <h3>[rev. {{questionnaireInstance.questionnaire.revision}}] {{questionnaireInstance.questionnaire.alias}}</h3>
                </div>
                <div class="col-xs-12 no-right-pad no-left-pad medium-top-margin">
                    Titolo: {{questionnaireInstance.questionnaire.title}}
                </div>
            </div>
            <div class="col-xs-12 no-right-pad no-left-pad questionnaire-instance-questions-container">
                <div class="col-xs-12 no-right-pad no-left-pad container scrollable">
                    <questions-instance-edit parent="questionnaireInstance.questionnaire" editable="editable" question-level="0" parent-selected="true"></questions-instance-edit>
                </div>
            </div>
        </form>
    </div>
</div>