<div class="col-xs-12 no-right-pad no-left-pad">
    <div class="col-xs-12 no-right-pad no-left-pad">
        <h5 ng-show="question.answers.length > 0">Risposte:</h5>
        <h5 ng-show="question.answers.length === 0" class="missing-answers">Risposte: nessuna risposta</h5>
    </div>
    <div class="col-xs-12 no-right-pad no-left-pad">
        <div ng-repeat="answer in question.answers">
            <answer-edit question="question" answer="answer" editable="editable" answer-types="answerTypes" question-level="questionLevel"></answer-edit>
        </div>
    </div>
    <div class="col-xs-12 no-right-pad no-left-pad medium-top-margin" ng-show="editable">
        <!-- pulsante per aggiungere una risposta -->
        <div class="col-xs-1 no-left-pad"><button class="col-xs-12 generic-button add-button medium-button left-aligned" title="Aggiungi risposta" ng-click="addNewAnswer(question)"></button></div>
        <div class="col-xs-11 no-right-pad"></div>
    </div>
</div>