<div class="col-xs-12 container" style="position:absolute;padding-bottom:50px;">
    <questionnaires-list class="col-xs-3 no-left-pad container right-borded" questionnaires="questionnaires" selected-questionnaire="questionnaire" editable="editable"></questionnaires-list>
    <questionnaire-edit class="col-xs-9 no-right-pad container" questionnaire="questionnaire" editable="editable" errors="errors"></questionnaire-edit>
</div>
<questionnaires-actions-bar class="col-xs-12 no-right-pad no-left-pad" style="position:absolute;bottom:10px;" questionnaires="questionnaires" questionnaire="questionnaire" editable="editable" errors="errors"></questionnaires-actions-bar>