<div class="col-xs-12 no-right-pad no-left-pad container">
    <div class="col-xs-12 no-right-pad no-left-pad" >
        <h1 style="text-align:center;">QUESTIONARI</h1>
    </div>
    <div class="list col-xs-12 no-right-pad no-left-pad scrollable questionnaires-info-panel">
        <questionnaires-info class="col-xs-12 no-right-pad no-left-pad container" questionnaires="questionnaires" selected-questionnaire="selectedQuestionnaire" editable="editable" errors="errors"></questionnaires-info>
    </div>
</div>
