<div class="col-xs-12 actions-bar">
    <actions-bar-button image-class="refresh-button" tooltip="Ricarica lista" visible="!editable" enabled="true"></actions-bar-button>
    <actions-bar-button image-class="add-button" tooltip="Nuovo questionario" visible="!editable" enabled="true"></actions-bar-button>
    <actions-bar-button image-class="edit-button" tooltip="Modifica questionario" visible="!editable && questionnaire" enabled="true"></actions-bar-button>
    <actions-bar-button image-class="cancel-button" tooltip="Annulla modifiche questionario" visible="editable && questionnaire" enabled="true"></actions-bar-button>
    <actions-bar-button image-class="save-button" tooltip="Salva questionario" visible="editable && questionnaire" enabled="questionnaireValid"></actions-bar-button>
    <actions-bar-button image-class="valid-button" tooltip="Valida revisione questionario" visible="!editable && questionnaire && questionnaire.status === 10" enabled="true"></actions-bar-button>
    <actions-bar-button image-class="revision-button" tooltip="Genera nuova revisione questionario" visible="!editable && questionnaire && questionnaire.status === 20" enabled="true"></actions-bar-button>
    <actions-bar-button image-class="delete-button" tooltip="Elimina questionario" visible="!editable && questionnaire && (questionnaire.status === 10)" enabled="true"></actions-bar-button>
</div>