<div class="col-xs-12 action-bar">
    <!--button class="col-xs-1 action-bar-button refresh-button" title="Ricarica lista" ng-show="!editable"></button>
    <button class="col-xs-1 action-bar-button add-button large-button" title="Nuovo questionario" ng-show="!editable"></button>
    <button class="col-xs-1 action-bar-button edit-button large-button" title="Modifica questionario" ng-show="!editable && questionnaire"></button>
    <button class="col-xs-1 action-bar-button cancel-button large-button" title="Annulla modifiche questionario" ng-show="editable && questionnaire"></button>
    <button class="col-xs-1 action-bar-button save-button large-button" title="Salva questionario" ng-show="editable && questionnaire"></button>
    <button class="col-xs-1 action-bar-button delete-button large-button" title="Elimina questionario" ng-show="!editable && questionnaire"></button-->
    <actions-bar-button image-class="refresh-button" tooltip="Ricarica lista" visible="!editable"></actions-bar-button>
    <actions-bar-button image-class="add-button" tooltip="Nuovo questionario" visible="!editable"></actions-bar-button>
    <actions-bar-button image-class="edit-button" tooltip="Modifica questionario" visible="!editable && questionnaire"></actions-bar-button>
    <actions-bar-button image-class="cancel-button" tooltip="Annulla modifiche questionario" visible="editable && questionnaire"></actions-bar-button>
    <actions-bar-button image-class="save-button" tooltip="Salva questionario" visible="editable && questionnaire"></actions-bar-button>
    <actions-bar-button image-class="delete-button" tooltip="Elimina questionario" visible="!editable && questionnaire"></actions-bar-button>
</div>