<div class="col-xs-12 no-left-pad no-right-pad container" ng-show="questionnaire">
    <div class="col-xs-12 no-right-pad no-left-pad container">
        <form class="col-xs-12 no-right-pad no-left-pad container" name="frmQuestionnaire" novalidate>
            <div class="col-xs-12 no-right-pad no-left-pad bottom-borded questionnaire-title-container">    <!-- qui definisco un'altezza e il fatto che sia in primo piano -->
                <div class="col-xs-12 no-right-pad no-left-pad" ng-show="questionnaire.id > 0">
                    <h3 style="font-weight: bold; text-align: center;">[rev. {{questionnaire.revision}}] {{questionnaire.alias}}</h3>
                </div>
                <div class="col-xs-12 no-right-pad no-left-pad large-top-margin" ng-show="questionnaire.id <= 0">
                    <input type="text" name="alias" class="col-xs-12 small-right-pad small-left-pad" ng-class="{'edit-mode':editable}" ng-model="questionnaire.alias" placeholder="Alias del questionario.... (una volta inserito non può essere modificato)" ng-disabled="!editable" required>
                </div>
                <div class="col-xs-12 no-right-pad no-left-pad medium-top-margin">
                    <div class="col-xs-1 no-left-pad" style="font-weight:bold">Titolo:</div>
                    <div class="col-xs-11 no-right-pad"><input type="text" name="title" class="col-xs-12 small-right-pad small-left-pad" ng-class="{'edit-mode':editable}" ng-model="questionnaire.title" placeholder="Titolo del questionario...." ng-disabled="!editable" required></div>
                </div>
            </div>
            <!--div class="col-xs-12 no-right-pad no-left-pad container" style="top:-100px;padding-top:100px;padding-bottom:50px;">    <!-- qui (essendo 100% height) metto un top (di posizione relative) a -altezza dell'altro div, e poi metto un padding della stessa altezza per riallinearlo -->
            <div class="col-xs-12 no-right-pad no-left-pad questionnaire-questions-container">
                <div class="col-xs-12 no-right-pad no-left-pad container scrollable">
                    <questions-edit parent="questionnaire" editable="editable" answer-types="answerTypes" question-level="0"></questions-edit>
                </div>
            </div>
            <div class="col-xs-12 no-right-pad no-left-pad top-borded questionnaire-templates-container">
                <templates-edit class="col-xs-12 no-right-pad no-left-pad container" parent="questionnaire" editable="editable" errors="errors"></templates-edit>
            </div>
        </form>
    </div>
</div>
