<div class="col-xs-12 no-right-pad no-left-pad large-top-margin">
    <div class="col-xs-12 no-right-pad no-left-pad">
        <h4>Sottodomande:</h4>
    </div>
    <div class="col-xs-12 no-right-pad no-left-pad">
        <div ng-repeat="question in answer.subquestions">
            <subquestion-edit answer="answer" question="question"></subquestion-edit>
        </div>
    </div>
    <div class="col-xs-12 no-right-pad no-left-pad medium-top-margin">
        <!-- pulsante per aggiungere una sottodomanda -->
        <div class="col-xs-1 no-left-pad"><button class="col-xs-12 generic-button add-button" title="Aggiungi domanda" ng-click="addNewQuestionToAnswer(answer)"></button></div>
        <div class="col-xs-11 no-right-pad"></div>
    </div>
</div>