<div class="col-xs-12 no-right-pad no-left-pad container">
    <!-- elemento per caricare un file -->
    <input id="inpTemplate" type="file" accept=".odt,.doc,.pdf" ng-show="false" ng-disabled="!editable">

    <div class="col-xs-1 no-left-pad">
        <div class="col-xs-12 no-right-pad no-left-pad">
            <h5 style="font-weight: bold;">Templates:</h5>
        </div>
        <!-- pulsante per aggiungere un template -->
        <button class="col-xs-12 generic-button add-button medium-button left-aligned" title="Aggiungi template" ng-show="editable"></button>
    </div>
    <div class="col-xs-11 no-right-pad no-left-pad top-pad container">
        <div class="col-xs-12 no-right-pad container">
            <div class="col-xs-12 no-right-pad no-left-pad container">
                <div class="col-xs-12 no-right-pad no-left-pad container scrollable">
                    <div ng-repeat="template in parent.templates">
                        <template-edit template="template" parent="parent" editable="editable" errors="errors"></template-edit>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>